<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>


    <div class="landing-color">
        <button class="hamburguerbtn">
            <img src="./img/svg/ham_menu.svg" class="hamburguerbtn__icon" alt="">
        </button>

        <header class="nav">

            <img src="./img/svg/circle1.svg" class="nav__elipse" alt="">

            <a href="/" class="nav__link nav__link--select">Inicio</a>
            <a href="/tienda" class="nav__link">Tienda</a>
            <a href="#" class="nav__link">Contacto</a>
            <a href="#" class="nav__link">Quien Soy</a>
            <a href="#" class="nav__link">Carrito</a>


        </header>

        {{{ body }}}
    </div>

    <script src="/scripts/client.js"></script>
</body>

</html>