<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>

    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>


    <div class="landing-color">
        <button class="hamburguerbtn">
            <img src="/img/svg/ham_menu.svg" class="hamburguerbtn__icon" alt="">
        </button>



        <header class="nav">

            <div class="nav__store">
                <img src="/img/svg/logo_tienda.svg" alt="" class="nav__log animated infinite pulse slow">

            </div>

            <img src="/img/svg/circle1.svg" class="nav__elipse" alt="">
            <div class="barrader">
                <a href="/" class="nav__link">Inicio</a>
                <a href="/tienda" class="nav__link nav__link--select">Tienda</a>
                <a href="/checkout" class="nav__link">Contacto</a>
                <a href="#" class="nav__link">Quien Soy</a>
                <a href="#" class="nav__link">Carrito</a>

            </div>



        </header>

        {{{ body }}}


    </div>

    <footer class="footer">
        <section class="footer__newsletter">
            <h5 class="footer__title">Suscribete a nuestro newsletter!</h5>
            <div class="footer__input">
                <input type="email" class="footer__email" placeholder="Pon tu e-mail">
                <button class="footer__button">Estoy dentro!</button>
            </div>
        </section>
    </footer>
    <script src="/scripts/client.js"></script>
</body>

</html>