<section class="checkout">

    <h1 class="checkout__title">Checkout</h1>

    <form action="/checkout" method="POST">
        <label>
            Nombre completo
            <input type="text" placeholder="Carlos..." name="name" required="true">
        </label>
        <label>
            Dirección
            <input type="text" placeholder="Calle 96 #..." name="address" required="true">
        </label>
        <button>Listolan!</button>
    </form>

</section>