<h1>{{ title }}</h1>
<h3>Precio: {{  price  }}</h3>

<img src="{{ img }}" alt="">


<!-- este es el if, dependiendo de la variable que se le pase -->
<!-- si esta esta vacia, no entra al if -->
{{#if options}}
{{#each options}}
<h1>hola desde las opciones disponibles</h1>
{{/each}}
{{/if}}