<p>hola desde el producto</p>

<!-- este es el if, dependiendo de la variable que se le pase -->
<!-- si esta esta vacia, no entra al if -->
{{#if options}}
<h1>hola desde las opciones disponibles</h1>
{{/if}}