.landing-color {
    background: $bgGradient;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;

}

.nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;

    &__elipse {
        position: absolute;
        top: 10px;
        left: 57%;
    }


    &__link {
        @extend %link-style;

    }

    &__link--select {

        font-size: .85em;
        font-weight: 700;
        color: rgb(99, 99, 124);
    }

    &--mobile {
        display: flex !important;
        flex-direction: column;
        justify-content: end;
        background-color: $bgGradient;
        //posicion en z para mostrar en frente
        z-index: 1;
        position: absolute;

    }

    @media (max-width: $smallDevice) {
        display: none;

    }
}

.hamburguerbtn {
    background-color: rgba($color: #000000, $alpha: 0);
    border-color: rgba($color: #000000, $alpha: 0);
    width: fit-content;
    height: fit-content;
    display: none;

    margin: 0px 0px 0px auto;


    &__icon {
        width: 20px;
        height: 20px;
    }

    @media (max-width: $smallDevice) {
        display: flex;
    }
}

.landing {
    display: flex;
    position: relative;
    justify-content: flex-end;
    height: 110vh;
    width: 100%;

    margin-top: 1em;
    background-color: $bgGradient;

    &__elipse {

        position: absolute;
        top: 250px;
        right: -50px;
        height: 700px;
        flex-shrink: 1;

    }

    &__elipse--small {
        height: 250px;
        transform: rotate(45deg);
        left: 50px;
        top: 600px;
    }

    &__elipse--border {
        display: none;
    }

    &__imglogo {

        margin-left: 15%;
        height: 35em;

    }


    &__article {
        display: flex;

        margin-left: 14%;
        width: 50%;
        position: relative;

    }

    &__title {
        position: absolute;
        top: 650px;
        left: -150px;

        font-family: 'lato';
        font-size: 4.5em;
        line-height: 65px;
        font-weight: 900;

        color: $darkGray;

    }

    &__title--posters {
        color: $mainColor;
    }

    &__imgArt {
        height: 750px;
        margin-top: 25%;

    }

}

@media (max-width: $smallDevice) {

    .landing-color {
        padding: 20px 20px 0px 0px;
    }

    .nav {
        flex-direction: column;


        &__link {
            margin: 35px 25px 0 auto;
            font-size: 16px;
            border-color: brown;
            border-width: 2px;

        }

        &__elipse {
            display: none;
        }

    }

    .landing {

        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 0 0 0;

        &__logo {
            margin: auto;
            display: flex;
            justify-content: center;
            width: 100%;

        }

        &__imglogo {
            height: 240px;
            margin: auto auto;
            padding-left: 20px;
        }

        &__imgArt {
            display: none;
        }

        &__poster {
            display: hidden;
        }

        &__elipse {
            display: none;
        }

        &__elipse--border {
            display: flex;
            position: absolute;
            margin: 0px;
            padding: 0px;
            height: 600px;

        }
    }
}