@import "./variables";
@import url('https://fonts.googleapis.com/css?family=Lato:100,400,700,900,900i&display=swap');


html,
body {
    background: $bgGradient;
    width: 100%;
    height: 100%;
    font-family: 'Lato';
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;


    /*  @media (max-width: $smallDevice) {
        width: 100vw;
    }
    */
}


@import "./landing";
@import "./calaca";
@import "./colorSelect";
@import "./gallery";
@import "./tablaSpec";
@import "./footer";
@import "./store";
@import "./product";